<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center; ">
        <h1>List of News Channel:</h1>
        <h2>...........................................................</h2>
        <h3>1. CNN-News18</h3>
        <h3>2. NDTV 24x7</h3>
        <h3>3. Aaj Tak</h3>
        <h3>4. ABP News</h3>
        <h3>5. Zee News</h3>
    </div>
    
</body>
</html